.article-preview-image {
    height: 200px;
    display: block;
    .article-preview-bg {
        background-size: cover;
        width: 100%;
        height: 100%;
    }
}

.blog-media {
    margin-top:-1.25rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    width: calc(100% + 2.5rem)
}

.card {
    overflow: hidden;
}

.article-preview-text {
    font-size: .9rem;
}

 .card .card-link {
     color: initial;
 }